#gameContainer {
  text-align: center;
}

#gameBoard {
  border: 3px solid black;
}

#scoreText {
  font-size: 100px;
}

#resetButton {
  font-size: 22px;
  width: 100px;
  height: 50px;
  border: 3px solid green;
  background-color: rgb(184, 240, 184);
  border-radius: 15px;
  cursor: pointer;
}
